<tr>
  <td class="hidden-xs"><%= order %></td>
  <td> <%= record.toll_booth.name %> </td>
  <td> <%= record.car.license_plate_number %> </td>
  <td> <%= record.timestamp %> </td>
  <td> <%= record.toll_booth.toll_fee %> </td>
  <td align="center">
    <%= link_to toll_fee_record_path(record), class: 'btn btn-default' do %>
        <em class="fa fa-ellipsis-h"></em>
    <% end %>
  </td>
</tr>