<div class="container" style="margin-top:10px;">
  <div class="row justify-content-center">
    <div class="col col-lg-6 col-lg-offset-3">
      <div class="card" style="width:600px">
        <div class="card-header">
          <h3 class="card-title">Toll Fee Record Details: Ref ID <%= @toll_fee_record.id %></h3>
        </div>
          <%= image_tag @toll_fee_record.image.url(:medium), class:'card-img-top', alt: 'Toll fee record image' %>
        <div class="card-body">
          <table class="table">
            <tbody>
            <tr>
              <td>Passing Date:</td>
              <td><%= @toll_fee_record.timestamp %></td>
            </tr>
            <tr>
              <td>Toll Gate:</td>
              <td> <%= @toll_fee_record.toll_booth.name %> </td>
            </tr>
            <tr>
              <td>Toll Fee:</td>
              <td> <%= @toll_fee_record.toll_booth.toll_fee %> </td>
            </tr>

            <tr>
            <tr>
              <td>Car:</td>
              <td> <%= link_to @toll_fee_record.car.license_plate_number, car_path(@toll_fee_record.car) %> </td>
            </tr>
            <tr>
              <td>Issued Bill: </td>
              <td>
                <% if @toll_fee_record.bill.nil? %>
                  None
                <% else %>
                  <%= link_to "#" + @toll_fee_record.bill.id.to_s, bill_path(@toll_fee_record.bill) %>
                <% end %>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer text-center">
        </div>
      </div>
    </div>
  </div>

</div>