<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">TollGate Central APP</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to "Dashboard", dashboard_path %>
        </li>


        <li class="active">
          <% if current_user.admin? %>
            <%= link_to "Data Dashboard", rails_admin_path %>

          <% else %>
            <li class="active">
              <%= link_to "Cars", cars_path %>
            </li>
            <li class="active">
              <%= link_to "Toll Records", toll_fee_records_path %>
            </li>
            <li class="active">
              <%= link_to "Bills", bills_path %>
            </li>
          <% end %>
        </li>

      </ul>
      <% end %>


      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="active">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li class="active">
            <%= link_to "Sign in", new_user_session_path %>
          </li>
          <li class="active">
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
        <% end %>

      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
