<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
    TollBooth System <em class="fa fa-hdd"></em>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item active">
              <%= link_to "Data Dashboard", rails_admin_path, class: "nav-link"  %>
            </li>
          <li class="nav-item active">
            <%= link_to "Scheduler Dashboard", crono_web_path, class: "nav-link" %>
          </li>
            <li class="nav-item active">
              <%= link_to "Confirm Bills", unconfirmed_bills_path, class: "nav-link"  %>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "Cars", cars_path, class: "nav-link"  %>
            </li>
            <li class="nav-item active">
              <%= link_to "Toll Records", toll_fee_records_path, class: "nav-link"  %>
            </li>
            <li class="nav-item active">
              <%= link_to "Bills", bills_path, class: "nav-link"  %>
            </li>
          <% end %>

      <% end %>
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class="list-group-item list-group-item-danger">
            <p>ADMIN</p>
          </li>
        <% end %>
        <li class="nav-item active">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link"  %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link"  %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link"  %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>