<div class="container" style="margin-top:10px;">
  <div class="row form-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Bill Details: Ref ID <%= @bill.id %></h3>
        </div>
        <!--
        <div class="panel-image hide-panel-body">
        </div>
        -->
        <div class="panel-body">
          <table class="table">
            <tbody>
            <tr>
              <td>Total Amount:</td>
              <td><%= @bill.total_amount %></td>
            </tr>
            <tr>
              <td>Payment Deadline:</td>
              <td> <%= @bill.payment_deadline %> </td>
            </tr>
            <tr>
              <td>Current payment method:</td>
              <% if @bill.payment_method.blank? %>
                <td> Not Selected </td>
              <% else %>
                <td> <%= @bill.payment_method %> </td>
              <% end %>
            </tr>
            <tr>
            <tr>
              <td>Payment Status:</td>
              <% if @bill.payment_confirm %>
                <td><em class="glyphicon glyphicon-ok"></em></td>
              <% else %>
                <td><em class="glyphicon glyphicon-remove"></em></td>
              <% end %>
            </tr>

            </tbody>
          </table>
        </div>
        <% unless @bill.payment_confirm %>
          <div class="panel-footer text-center">
            <button onclick="toggleUploadSlipForm()" class="btn btn-info"><em class="glyphicon glyphicon-tag"></em> Upload Payment Slip
              Attachment</button>
            <%= link_to bill_barcode_update_path(@bill), method: :post, class: "btn btn-info" do %>
              <em class="glyphicon glyphicon-barcode"></em> Generate Tesco Lotus Barcode
            <% end %>

          </div>
        <% end %>
      </div>
  </div>
</div>
<% if @bill.barcode_file.exists? %>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h3>Tesco Lotus Payment Barcode</h3>
      <%= raw(Paperclip.io_adapters.for(@bill.barcode_file).read) %>
      <p><%= @bill.barcode_number %></p>
    <%if @bill.payment_confirm &&  (@bill.payment_method == "barcode")  %>
      <div class="alert alert-info">
        This Barcode has been used for this bill payment
      </div>
    <% else %>
      <% if @bill.omise_barcode_expired? %>
        <div class="alert alert-danger">
          Your barcode has already expired! please generate a new one.
        </div>
      <% else %>
        <div class="alert alert-success">
          This barcode avaliable until <%= @bill.omise_barcode_expires_at %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
<% end %>

<div clas="row">

<div id="uploadSlipForm" class="panel panel-default" style="display: none">
  <div class="panel-heading">
    <h3 class="panel-title">Upload Payment Slip Attachment</h3>
  </div>
  <div class="panel-body">

    <% if @bill.payment_evidence.exists? %>
    <div class="row">
      <div class="alert alert-warning" role="alert">
        You have already upload the payment slip, re-upload will cause the current one to be deleted
      </div>
      <%= image_tag  @bill.payment_evidence.url, class: "img-responsive" %>
      <div class="caption">
        <p>Uploaded at <%= @bill.payment_evidence_updated_at %> </p>
      </div>
    </div>
    <% end %>
    <div class="row">
        <%= form_for @bill, url: update_slip_path, html: {multipart: true} do |form| %>
          <div class="form-group">
            <%= label_tag "Select Your Payment Slip Attachment" %>
            <%= form.file_field :payment_evidence %>
          </div>
          <div class="form-group">
            <%= form.submit 'Upload Slip', class: "btn btn-info" %>
          </div>
    </div>

    <% end %>
  </div>

</div>

</div>

<div class="row text-center">
  <h2>Associated Toll Fee Records for this bill</h2>
  <%= render 'toll_fee_records/table', toll_fee_records: @bill.toll_fee_records %>
</div>



<script>
    function toggleUploadSlipForm() {
        var x = document.getElementById("uploadSlipForm");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>