<div class="container">
  <div class="row justify-content-center">
    <h1>Welcome to Dashboard</h1>
    <div class="col-lg-8 col-lg-offset-2 toppad">
      <div class="card bg-light">
        <div class="card-header">
          <h3 class="card-title"><%= @user.firstname + " " + @user.lastname %></h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"></div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>Email:</td>
                  <td><a href="mailto:<%= @user.email %>"><%= @user.email %></td>
                </tr>
                <tr>
                  <td>Joined Date:</td>
                  <td><%= @user.created_at %> </td>
                </tr>
                <tr>
                  <td> Driving License Number:</td>
                  <td> <%= @user.driving_license_number %> </td>
                </tr>

                <tr>
                <tr>
                  <td>Home Address:</td>
                  <td><%= @user.address %></td>
                </tr>

                <tr>
                  <td>Phone Number:</td>
                  <td><%= @user.phone_number %></td>
                </tr>

                </tbody>
              </table>

              <%= link_to "Upload your driving license", upload_driving_license_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <%= link_to user_dashboard_edit_path, class: 'btn btn-warning' do %>
              <i class="fa fa-edit"></i>
              <% end %>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>
<% if current_user.admin? %>
  <%= link_to "Test Generate Bill", {:controller => :bills, :action => :create}, :method => :post, class: 'btn btn-danger' %>
<% end %>

</div>
