<div class="container">

  <div class="row">
    <h1>Welcome to Dashboard</h1>
  </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @user.firstname + " " + @user.lastname%></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"></div>
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                <tr>
                  <td>Email: </td>
                  <td> <a href="mailto:<%= @user.email %>"><%= @user.email %></td>
                </tr>
                <tr>
                  <td>Joined Date:</td>
                  <td><%= @user.created_at %> </td>
                </tr>
                <tr>
                  <td> Driving License Number: </td>
                  <td> <%= @user.driving_license_number %> </td>
                </tr>

                <tr>
                <tr>
                  <td>Home Address: </td>
                  <td><%= @user.address %></td>
                </tr>

                <tr>
                  <td>Phone Number:</td>
                  <td><%= @user.phone_number %></td>
                </tr>

                </tbody>
              </table>

              <%= link_to "Upload your driving license", upload_driving_license_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
          <span class="pull-right">
            <%= link_to user_dashboard_edit_path, class: 'btn btn-warning' do %>
              <i class="glyphicon glyphicon-edit"></i>
              <% end %>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>
