<!DOCTYPE html>
<html>
  <head>
    <title>TOOLBOOTH-SYSTEM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= render 'shared/navigation_bar' %>
  <body>
  <div class="container" style="margin-top: 100px">
    <%= render 'shared/flash', flash: flash %>
  </div>
  <div class="container">
    <%= yield %>
  </div>


  </body>
</html>
